{% extends 'base.html' %}

{% block content %}
        <h1>Hello World!</h1>
        <p>This is my first webpage (This isn't my first webpage)</p>
        <p>Hi! My name is {{ first_name }}</p>
        <p>{{ stuff | title }}</p>
        <h3>Favorite Pizza:</h3>

        {% for topping in fav_pizza %}
        
            {% if topping == 41 %}
                {{ topping + 100 }}<br/>
            {% else %}
                {{ topping }} <br/>
            {% endif %}
            
        {% endfor %}

        <br/><br/>
        {{ fav_pizza.3 + 10 }}


{% endblock %}